<p>
    {% if response.error_description is defined %}
        {{ response.error_description }}
        {% if response.error_uri is defined %}
            (<a href="{{response.error_uri}}">más información</a>)
        {% endif %}
    {% elseif response is iterable %}
        <pre>{{ response|json_stringify }}<pre>
    {% else %}
        <p>
            No se ha podido parsear la respuesta:
        </p>
        <pre>{{ dump(response) }}<pre>
    {% endif %}
</p>
