<h3>Open ID Connect Token ID</h3>
<p>
    Como has hecho tu petición de token con <code>scope=openid</code>, también has recibido un
    Token ID!
</p>

<pre><code>  Token ID: {{ id_token }}  </code></pre>

{% set jwt = id_token|split('.') %}

<p>Este token contiene la siguiente información sobre el usuario: </p>

<pre>
{{ jwt[1] | base64_decode | json_stringify }}
</pre>
