{% extends "client/base.twig" %}

{% block content %}
    <h4>Error al recuperar el Token de acceso:</h4>
    {% include 'client/_error.twig' %}

    <a href="{{ path('homepage') }}">volver</a>
{% endblock %}
