{% extends "client/base.twig" %}

{% block content %}
    <h3>¡Token conseguido!</h3>

    <pre><code>  Token de acceso: <span id="access_token_display"><a onclick="showAccessToken();">(click aquí para extraer del fragmento de la URL)</a></span> </code></pre>

    <div style="display:none" id="id_token">
      <p>Y como añadiste "id_token" al respose type, ¡también recibes un Token ID!
      <pre><code>  Token ID: <span id="id_token_display"><a onclick="showIDToken();">(click aquí para extraer del fragmento de la URL)</a></span> </code></pre>
    </div>

<p>El siguiente trozo de código es el que extrae los datos del token del fragmento de la URL:</p>
    <pre>
<code>  // function to parse fragment and return access token
  function getAccessToken() {
      var queryString = window.location.hash.substr(1);
      var queries = queryString.split("&");
      var params = {}
      for (var i = 0; i < queries.length; i++) {
          pair = queries[i].split('=');
          params[pair[0]] = pair[1];
      }

      return params;
  };</code></pre>

    <div id="request_resource" style="display:none">

        <p>
            Ahora usa este token para hacer una petición a las APIs del Servidor de OAuth2.0:
        </p>

        <a class="button" href="{{ path('request_resource') }}" onclick="this.href += '?token='+getAccessToken().access_token;">hacer una petición de recurso</a>

        <div class="help"><em>Ahora este token puede ser usado varias veces para hacer peticiones a la API para este usuario.</em></div>

    </div>

    <a href="{{ path('homepage') }}">volver</a>

    <!-- Javascript for pulling the access token from the URL fragment -->
    <script>
        function getAccessToken() {
            var queryString = window.location.hash.substr(1);
            var queries = queryString.split("&");
            var params = {}
            for (var i = 0; i < queries.length; i++) {
                pair = queries[i].split('=');
                params[pair[0]] = pair[1];
            }

            return params;
        };

        // show the token parsed from the fragment, and show the next step
        var showAccessToken = function (e) {
            document.getElementById('access_token_display').innerHTML = accessToken.access_token;
            document.getElementById('request_resource').style.display = 'block';
        }

        var showIDToken = function (e) {
            document.getElementById('id_token_display').innerHTML = accessToken.id_token;
        }

        var accessToken = getAccessToken();
        if (accessToken.id_token) {
          document.getElementById('id_token').style.display = 'block';
        }
    </script>
{% endblock %}
