{% extends "client/base.twig" %}

{% block content %}
    <h3>¡Token conseguido!</h3>

    <p>
        Pero hagamos como que el Token de acceso ha expirado. Por suerte, ¡venía con un Token de refresco!
    </p>

    <pre><code>  Token de refresco: {{ response.refresh_token }}  </code></pre>

    <a class="button" href="{{ path('request_token_with_refresh_token', { 'refresh_token': response.refresh_token }) }}">renueva tu Token de acceso</a>

    <div class="help"><em>El Token de refresco se puede usar para conseguir un nuevo Token de acceso después de que el token haya expirado.</em></div>
    <a href="{{ path('homepage') }}">volver</a>
{% endblock %}
