<p>
    El tipo de concesión de <code>Código de autorización</code> es el más común de OAuth2.0.  Haz click en el botón "Autorizar" para ir al Servidor OAuth2.0 para autorizar:
</p>
<a class="button" href="{{ app.parameters.authorize_route|slice(0, 4) == 'http' ? app.parameters.authorize_route : url(app.parameters.authorize_route) }}?response_type=code&client_id={{app.parameters.client_id}}&redirect_uri={{ url('authorize_redirect')|url_encode() }}&state={{session_id}}">Autorizar</a>
